h1{
    color: darkblue;
    font-size: 50px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.score{color:red;}
.gold{color:green;}
#gameLink{text-align:center;
          border: 10px solid gray;}
#greeting{ position:absolute;
           left:40%;
           top:40%;
           background: #fff;
           width:350px;
           border: 2px solid gray;
           border-radius:  5px;
           padding: 20px;
           display:none;
 }

